* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Patrick Hand SC", cursive;
}

img {
  width: 100%;
  display: block;
}

body {
  background: #f7ead1;
}

.main {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 25rem) {
  .main {
    justify-content: center;
  }
}

.wrapper {
  padding: 2.5rem 3rem;
  display: flex;
  height: 27rem;
  width: 20rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(232, 190, 0, 0.1490196078);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media (min-width: 25rem) {
  .wrapper {
    height: 35rem;
    width: 30rem;
  }
}
@media (min-width: 70rem) {
  .wrapper {
    height: 50rem;
    width: 45rem;
  }
}

.btn,
.answer,
.title {
  background-color: black;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  text-shadow: rgba(247, 234, 209, 0.513) 0px 3px 3px;
}

.btn {
  margin: 0 auto;
  font-size: 2rem;
  border: 3px solid black;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn:active {
  border: 4px solid black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}
@media (min-width: 25rem) {
  .btn {
    font-size: 3rem;
  }
}
@media (min-width: 50rem) {
  .btn {
    font-size: 4rem;
  }
}

.lives {
  margin-top: 0.5rem;
  opacity: 0;
  font-size: 1.5rem;
}
.lives span {
  font-size: 1.5rem;
}

.answer {
  font-size: 2rem;
  margin-bottom: 12rem;
}
@media (min-width: 25rem) {
  .answer {
    font-size: 3rem;
  }
}
@media (min-width: 50rem) {
  .answer {
    font-size: 4rem;
  }
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  width: 15rem;
  height: 12rem;
}
@media (min-width: 25rem) {
  .content__wrapper {
    width: 20rem;
    height: 16rem;
  }
}
@media (min-width: 70rem) {
  .content__wrapper {
    width: 30rem;
    height: 24rem;
  }
}

.img {
  position: absolute;
  opacity: 0;
}

.img__ground {
  position: absolute;
}

.title {
  z-index: 100;
  position: absolute;
  bottom: 0.7rem;
  opacity: 0.8;
  font-size: 1.55rem;
}
@media (min-width: 25rem) {
  .title {
    font-size: 2.1rem;
    bottom: 1.2rem;
  }
}
@media (min-width: 70rem) {
  .title {
    font-size: 3.1rem;
    bottom: 2.2rem;
  }
}

.letter {
  transition: top 2s ease 0s;
  transition: all 1s;
  z-index: 500;
  position: absolute;
  font-size: medium;
  opacity: 0;
}
@media (min-width: 25rem) {
  .letter {
    font-size: large;
  }
}
@media (min-width: 70rem) {
  .letter {
    font-size: xx-large;
  }
}

.display--none {
  display: none;
}

.visable {
  opacity: 1;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: 153px -386.6666666667px hsl(123, 100%, 50%), -37px -317.6666666667px hsl(307, 100%, 50%), -183px -383.6666666667px hsl(315, 100%, 50%), -187px -228.6666666667px hsl(79, 100%, 50%), 153px -104.6666666667px hsl(9, 100%, 50%), -228px -264.6666666667px hsl(123, 100%, 50%), -169px 17.3333333333px hsl(151, 100%, 50%), 59px -147.6666666667px hsl(334, 100%, 50%), -162px -335.6666666667px hsl(41, 100%, 50%), -9px -125.6666666667px hsl(266, 100%, 50%), 53px -305.6666666667px hsl(145, 100%, 50%), 49px -392.6666666667px hsl(279, 100%, 50%), -7px -200.6666666667px hsl(212, 100%, 50%), -88px -343.6666666667px hsl(313, 100%, 50%), -246px -370.6666666667px hsl(256, 100%, 50%), 177px -276.6666666667px hsl(292, 100%, 50%), -71px -362.6666666667px hsl(258, 100%, 50%), 180px -193.6666666667px hsl(242, 100%, 50%), 73px -219.6666666667px hsl(42, 100%, 50%), 71px -96.6666666667px hsl(48, 100%, 50%), 181px -176.6666666667px hsl(246, 100%, 50%), -74px -80.6666666667px hsl(215, 100%, 50%), -115px 65.3333333333px hsl(81, 100%, 50%), 103px 81.3333333333px hsl(89, 100%, 50%), -206px -170.6666666667px hsl(161, 100%, 50%), -94px -323.6666666667px hsl(124, 100%, 50%), -139px 28.3333333333px hsl(105, 100%, 50%), -80px -332.6666666667px hsl(319, 100%, 50%), -202px -160.6666666667px hsl(198, 100%, 50%), -106px 79.3333333333px hsl(89, 100%, 50%), -154px 83.3333333333px hsl(253, 100%, 50%), 160px -190.6666666667px hsl(49, 100%, 50%), 230px -303.6666666667px hsl(280, 100%, 50%), -84px -299.6666666667px hsl(8, 100%, 50%), 145px -371.6666666667px hsl(316, 100%, 50%), -31px -343.6666666667px hsl(273, 100%, 50%), 27px 53.3333333333px hsl(101, 100%, 50%), -163px -60.6666666667px hsl(80, 100%, 50%), 3px -366.6666666667px hsl(322, 100%, 50%), -92px -142.6666666667px hsl(325, 100%, 50%), -138px -212.6666666667px hsl(150, 100%, 50%), 49px -289.6666666667px hsl(44, 100%, 50%), 50px -35.6666666667px hsl(155, 100%, 50%), -71px -35.6666666667px hsl(255, 100%, 50%), -55px -4.6666666667px hsl(279, 100%, 50%), 154px 70.3333333333px hsl(59, 100%, 50%), 27px -361.6666666667px hsl(172, 100%, 50%), 126px -80.6666666667px hsl(233, 100%, 50%), -183px -100.6666666667px hsl(241, 100%, 50%), 123px -177.6666666667px hsl(295, 100%, 50%), 141px -110.6666666667px hsl(179, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}/*# sourceMappingURL=style.css.map */