.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: 136px -12.6666666667px hsl(53, 100%, 50%), -199px -127.6666666667px hsl(266, 100%, 50%), 6px -5.6666666667px hsl(12, 100%, 50%), -19px -9.6666666667px hsl(164, 100%, 50%), 81px -413.6666666667px hsl(175, 100%, 50%), -188px -124.6666666667px hsl(169, 100%, 50%), -66px -274.6666666667px hsl(113, 100%, 50%), -77px -325.6666666667px hsl(119, 100%, 50%), 66px -372.6666666667px hsl(43, 100%, 50%), -226px 51.3333333333px hsl(338, 100%, 50%), 168px -122.6666666667px hsl(320, 100%, 50%), -149px -380.6666666667px hsl(192, 100%, 50%), 186px -110.6666666667px hsl(334, 100%, 50%), 43px 81.3333333333px hsl(171, 100%, 50%), 71px -316.6666666667px hsl(188, 100%, 50%), 140px -198.6666666667px hsl(44, 100%, 50%), -112px -233.6666666667px hsl(259, 100%, 50%), 164px -360.6666666667px hsl(255, 100%, 50%), 153px -154.6666666667px hsl(264, 100%, 50%), 16px -68.6666666667px hsl(21, 100%, 50%), 30px 64.3333333333px hsl(87, 100%, 50%), -82px -305.6666666667px hsl(150, 100%, 50%), -32px -348.6666666667px hsl(183, 100%, 50%), -187px -99.6666666667px hsl(169, 100%, 50%), -240px -89.6666666667px hsl(84, 100%, 50%), 57px -291.6666666667px hsl(15, 100%, 50%), -206px -63.6666666667px hsl(200, 100%, 50%), 3px -376.6666666667px hsl(277, 100%, 50%), 11px -408.6666666667px hsl(31, 100%, 50%), 43px -415.6666666667px hsl(242, 100%, 50%), -65px 57.3333333333px hsl(331, 100%, 50%), -9px -283.6666666667px hsl(225, 100%, 50%), -57px -376.6666666667px hsl(141, 100%, 50%), 243px -311.6666666667px hsl(244, 100%, 50%), 241px 30.3333333333px hsl(314, 100%, 50%), 122px -337.6666666667px hsl(306, 100%, 50%), 53px -353.6666666667px hsl(241, 100%, 50%), 170px -230.6666666667px hsl(25, 100%, 50%), -61px -37.6666666667px hsl(218, 100%, 50%), -192px -401.6666666667px hsl(191, 100%, 50%), 46px -103.6666666667px hsl(304, 100%, 50%), 175px -91.6666666667px hsl(238, 100%, 50%), 127px -347.6666666667px hsl(99, 100%, 50%), -21px -125.6666666667px hsl(297, 100%, 50%), -44px -228.6666666667px hsl(291, 100%, 50%), 41px -2.6666666667px hsl(174, 100%, 50%), 162px -355.6666666667px hsl(216, 100%, 50%), -17px -123.6666666667px hsl(147, 100%, 50%), -116px 75.3333333333px hsl(199, 100%, 50%), -151px -252.6666666667px hsl(261, 100%, 50%), 224px -169.6666666667px hsl(211, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Patrick Hand SC", cursive;
}

img {
  width: 100%;
  display: block;
}

*:focus {
  outline: none;
}

body {
  background: #f7ead1;
}

.main {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 3rem;
  height: 27rem;
  width: 20rem;
  background-color: rgba(232, 190, 0, 0.1490196078);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media (min-width: 30rem) {
  .wrapper {
    height: 35rem;
    width: 30rem;
  }
}
@media (min-width: 70rem) {
  .wrapper {
    height: 45rem;
    width: 40rem;
  }
}

.btn,
.answer,
.title,
.input {
  background-color: black;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  text-shadow: rgba(247, 234, 209, 0.513) 0px 3px 3px;
}

.btn {
  margin: 0 auto;
  font-size: 2rem;
  border: 3px solid black;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn:active {
  border: 4px solid black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}
@media (min-width: 30rem) {
  .btn {
    font-size: 3rem;
  }
}
@media (min-width: 70rem) {
  .btn {
    font-size: 4rem;
  }
}

.input {
  width: 5rem;
  height: 5rem;
  font-size: 2.5rem;
  border: none;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid black;
  animation-duration: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.input:focus {
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}
@media (min-width: 30rem) {
  .input {
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
  }
}

.lives {
  margin-top: 0.5rem;
  opacity: 0;
  font-size: 1.5rem;
}
.lives span {
  font-size: 1.5rem;
}

.answer {
  font-size: 2rem;
  margin-bottom: 12rem;
}
@media (min-width: 30rem) {
  .answer {
    font-size: 3rem;
  }
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  width: 15rem;
  height: 12rem;
}
@media (min-width: 30rem) {
  .content__wrapper {
    width: 20rem;
    height: 16rem;
  }
}
@media (min-width: 70rem) {
  .content__wrapper {
    width: 30rem;
    height: 24rem;
  }
}

.img {
  position: absolute;
  opacity: 0;
}

.img__ground {
  position: absolute;
}

.title {
  z-index: 100;
  position: absolute;
  bottom: 0.7rem;
  opacity: 0.8;
  font-size: 1.55rem;
}
@media (min-width: 30rem) {
  .title {
    font-size: 2.1rem;
    bottom: 1.2rem;
  }
}
@media (min-width: 70rem) {
  .title {
    font-size: 3.1rem;
    bottom: 2.2rem;
  }
}

.letter {
  top: 50vh;
  left: 50vw;
  transition: all 0.5s;
  z-index: 500;
  position: absolute;
  font-size: medium;
  opacity: 0;
}
@media (min-width: 30rem) {
  .letter {
    font-size: xx-large;
  }
}
.display--none {
  opacity: 0;
  display: none;
}

.visable {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */